body {
    background-image: url("../css/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Indie Flower', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Concert One', cursive;
}
.jumbotron{
    opacity:0.7;
    color: midnightblue;
}
.navbar{
    opacity:0.7;
    color: midnightblue;

}

