body {
    background-image: url("../css/bground.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Indie Flower', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Concert One', cursive;
}
.jumbotron{
    opacity: 0.9;
    color: midnightblue;
}
.navbar{
    opacity: 0.9;
    color: midnightblue;

}

